<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="API Test Suite" parallel="tests" thread-count="5">
<!--    <test name="Book API Tests">-->
<!--&lt;!&ndash;        <classes>&ndash;&gt;-->
<!--&lt;!&ndash;            <class name="testcases.apiTest.bookStore.f1_user.UserTest"/>&ndash;&gt;-->
<!--&lt;!&ndash;            <class name="testcases.apiTest.bookStore.f2_book.BookTest"/>&ndash;&gt;-->
<!--&lt;!&ndash;            <class name="testcases.apiTest.bookStore.f3_delete.DeleteTest"/>&ndash;&gt;-->
<!--&lt;!&ndash;        </classes>&ndash;&gt;-->
<!--        -->
<!--    </test>-->

    <test name="Book API BDD Tests">
        <packages>
            <package name="feature.api.bookStore.f1_user"/>
        </packages>
        <classes>
            <class name="stepDefinitions.apiSteps.bookStore.user.UserSteps"></class>
        </classes>
    </test>
</suite>